[Unit]
Description=Enclave
After=network-online.target

[Service]
Type=oneshot
ExecStart=/home/vagrant/.cargo/bin/enclaved
StandardOutput=journal

[Install]
WantedBy=multi-user.target
