[Unit]
Description=lockc daemon
After=network-online.target

[Service]
Type=oneshot
ExecStart=/home/vagrant/.cargo/bin/lockcd
StandardOutput=journal

[Install]
WantedBy=multi-user.target
