{
  "libvirt_uri": "qemu:///system",
  "pool": "default",
  "image_name": "lockc-image",
  "image_path": "../../guestfs/lockc-base.qcow2",
  "network_name": "lockc-network",
  "network_mode": "nat",
  "dns_domain": "lockc.local",
  "network_cidr": "10.16.0.0/24",
  "locale": "en_US.UTF-8",
  "timezone": "Etc/UTC",
  "authorized_keys": [
    ""
  ],
  "control_planes": 1,
  "control_plane_memory": 2048,
  "control_plane_vcpu": 2,
  "workers": 1,
  "worker_memory": 2048,
  "worker_vcpu": 2
}
